#title {
  font-size: 6em;
  text-align: center;
  margin: 20px;
  padding: 10px;
  color: blueviolet;
}

div.color {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  display: inline-block;
  margin-left: 640px;
  margin-right: -640px;
}

#pixel-board {
  margin-top: 80px;
  margin-left: 400px;
  margin-right: 690px;
  border: 1px solid black;
}
.pixel {
  margin: 1px;
  width: 40px;
  height: 40px;
  background-color: white;
  border: 1px solid black;
  float: left;
}
